<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
                            {% for cat in cats %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordian" href="#{{cat}}">
                                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                            {{cat.name}}
                                            
                                        </a>
                                    </h4>
                                </div>
                                <div id="{{cat}}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                        {% for c in cat.get_children %}
                                            <li><a href="{% url 'productfilter' c.id %}">{{c.name}} </a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                                              
                        </div><!--/category-products-->