{% extends "base/base.html"  %}



{% load static %}
{% load cart %}


{% block start %}

	<section id="cart_items">
		<div class="container">
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description"></td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td class="total">Remove</td>

							<td></td>
						</tr>
					</thead>
					<tbody>
						
				{% for product in products %}
						<tr>
							<td class="cart_product">
								<a href=""><img src="images/cart/one.png" alt=""></a>
							</td>

							{% if product|is_in_cart:request.session.cart %}	
							<td class="cart_description">
								<h4><a href="">{{product.name}}</a></h4>
								<p>Web ID: {{product.sku}}</p>
							</td>
							<td class="cart_price">
								<p>{{product.price}}</p>	
							</td>
							
						<!-- {{ product | is_in_cart:request.session.cart}} -->
							<!-- <td class="cart_quantity">
								<div class="cart_quantity_button">
									
									<a class="cart_quantity_up" href=""> + </a>
									<input class="cart_quantity_input" type="text" name="quantity" value="2" autocomplete="off" size="2">
									<a class="cart_quantity_down" href=""> - </a>
								</div>
							</td> -->

							<td class="cart_quantity">

							<div class="cart_quantity_button">
								<form action="{% url 'add_to_cart' product.id %}"  method="post">
									{% csrf_token %}
									<input hidden type="text" name='product' value='{{product.id}}'>
									<input hidden type="text" name='remove' value='True'>
									
									<input type="submit" value=" - " class="cart_quantity_down" min="1">
								</form>
								<!-- <div class="text-center col">{{product|cart_quantity:request.session.cart}} </div> -->
								<input class="cart_quantity_input" type="text" name="quantity" value='{{product|cart_quantity:request.session.cart}}' autocomplete="off" size="2">

								<form action="{% url 'add_to_cart' product.id %} " method="post">
									{% csrf_token %}
									<input hidden type="text" name='product' value='{{product.id}}'>
									<input type="submit" value=" + " class="cart_quantity_up">
								</form>
							</div>
							</td>
                       
							
							{% endif %}	

							<td class="cart_total">
								<p class="cart_total_price">{{product|price_total:request.session.cart}}</p>
							</td>
							<td class="cart_delete">
								<a class="btn btn-default update" href="{% url 'remove_cart_item' product.id %}">Remove<i class="fa fa-times"></i></a>
							</td>
							{% endfor %}
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->

	<section id="do_action">
		<div class="container">
			<div class="heading">
				<h3>What would you like to do next?</h3>
				<p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="chose_area">
						<ul class="user_option">
							<li>
								<!-- <input type="checkbox"> -->
								<!-- <label>Use Coupon Code</label> -->

								<form method="POST">{% csrf_token %}
									{% include 'base/alert.html' %}

									<div class="form-group">
										<label>Have coupon?</label>
										<div class="input-group">
											<input type="text" name="coupon" class="form-control"  placeholder="Coupon code">
											<span class="input-group-append"> 
												<button class="btn btn-primary">Apply</button>
											</span>
										</div>
									</div>
								</form>
							</li>
							<!-- <li>
								<input type="checkbox">
								<label>Use Gift Voucher</label>
							</li>
							<li>
								<input type="checkbox">
								<label>Estimate Shipping & Taxes</label>
							</li> -->
						</ul>
						<!-- <ul class="user_info">
							<li class="single_field">
								<label>Country:</label>
								<select>
									<option>United States</option>
									<option>Bangladesh</option>
									<option>UK</option>
									<option>India</option>
									<option>Pakistan</option>
									<option>Ucrane</option>
									<option>Canada</option>
									<option>Dubai</option>
								</select>
								
							</li>
							<li class="single_field">
								<label>Region / State:</label>
								<select>
									<option>Select</option>
									<option>Dhaka</option>
									<option>London</option>
									<option>Dillih</option>
									<option>Lahore</option>
									<option>Alaska</option>
									<option>Canada</option>
									<option>Dubai</option>
								</select>
							
							</li>
							<li class="single_field zip-field">
								<label>Zip Code:</label>
								<input type="text">
							</li>
						</ul> -->
						<!-- <a class="btn btn-default update" href="">Get Quotes</a>
						<a class="btn btn-default check_out" href="">Continue</a> -->
						<br>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="total_area">
						<ul>
							<li>Cart Sub Total <span>$59</span></li>
							<!-- <li>Eco Tax <span>$2</span></li> -->
							<li>Shipping Cost <span>Free</span></li> 
							<li>Discount <span>0.00</span></li> 

							<h1>{{Total}}</h1>

							{% if coupon %}
							{% endif %}

							<li>Total <span> <b> ${{total}}0 </b></span></li>
						</ul>
							<a class="btn btn-default update" href="">Update</a>
							<a class="btn btn-default check_out" href="{% url 'place_order' total %}">Check Out</a>

					</div>
				</div>
			</div>
		</div>
	</section><!--/#do_action-->

    {% endblock %}
