{% extends "base/base.html"  %}
{% load static %}
{% load cart %}
{% block start %}

<section>
    <div class="container">
        <div class="row ">
            <div class="col-sm-3">
                <div class="left-sidebar">
                        <div class="container">
                            <div class="py-5 text-center">
                              <h2>Checkout form</h2>
                            </div>
                           
                     <form action="{% url 'place_order' %}"class="needs-validation"  method='post' novalidate>
                            {% csrf_token %}
                              <div class="row">
                                <div class="col-md-6 mb-3">
                                  <label for="firstName">First name</label>
                                  <input type="text" class="form-control" id="firstName" name="name" placeholder="" value="{{userinfo.first_name|capfirst}}" >
                                    <smlall class="smlcls my-2">{{ form.errors.name }}</smlall>
                                  
                                </div>
                                <div class="col-md-6 mb-3">
                                  <label for="lastName">Last name</label>
                                  <input type="text" class="form-control" id="lastName" placeholder="" value="{{userinfo.last_name|capfirst}}" >
                               
                                </div><br>

                                  <div class="col-md-6 mb-3">
                                    <label for="email">Email <span class="text-muted"></span></label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="" value="{{request.user}}" >
                                    <smlall class="smlcls my-2">{{ form.errors.email }}</smlall>
 
                                  </div><br>


                                  <div class="col-md-6 mb-3">
                                    <label for="email">Mobile No <span class="text-muted"></span></label>
                                    <input type="email" class="form-control" name="mobile",id="email" placeholder="" value="{{adress.mobile_number}}">
                                    <smlall class="smlcls my-2">{{ form.errors.mobile }}</smlall>
 
                                  </div><br>
                              </div><br>
                            <div class="row">
                              <div class="col-md-6 order-md-1">
                                <h3 class="mb-3">Shipping address </h3><hr>
                          
                          
                                  <div class="mb-3">
                                    <label for="address">Address1</label>
                                    <input type="text" class="form-control" id="ship_address1" name="shipping_address_1" placeholder="" value={{adress.address_1|capfirst}} >
                                    <smlall class="smlcls my-2">{{ form.errors.shipping_address_1 }}</smlall>
                                
                                  </div><br>
                          
                                  <div class="mb-3">
                                    <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                                    <input type="text" class="form-control" id="ship_address2" name="shipping_address_2" placeholder="" >
                                    <smlall class="smlcls my-2">{{ form.errors.shipping_address_2 }}</smlall>
                                  
                                  </div><br>
                          
                                  <div class="row">
                                    <div class="col-md-5 mb-3">
                                      <label for="zip">City</label>
                                    <!-- <input type="text" class="form-control" id="ship_country" name="shipping_city" placeholder="" value={{adress.country|capfirst}}  required> -->
                                    {{form.shipping_city}}
                                   
                                    <smlall class="smlcls my-2">{{ form.errors.shipping_city }}</smlall>
                               
                                   
                                    </div>
                                    <div class="col-md-5 mb-3">
                                      <label for="zip">State</label>
                                      <!-- <input type="text" class="form-control"  name="shipping_state"  name="shipping_state" id="ship_state" placeholder="" value={{adress.state|capfirst}}  required> -->
                                    {{form.shipping_state}}
                                      <smlall class="smlcls my-2">{{ form.errors.shipping_state }}</smlall>
                                      
                                    </div>
                                  
                                  </div><br>
                                  <div class="col-md-3 mb-3">
                                    <label for="zip">Zip</label>
                                    <input type="text" class="form-control" id="ship_zip"  name="shipping_zipcode" placeholder="" value={{adress.zipcode}}>
                                    <smlall class="smlcls my-2">{{ form.errors.shipping_zipcode }}</smlall>
                               
                                  </div><br>
                                  <hr class="mb-4"><br>
                                  <div class="custom-control custom-checkbox">
                        
                                    <input type="checkbox"  class="custom-control-input" id="same-address" name="same-address" onclick= "billingFunction()"/>
                                    <label class="custom-control-label" for="same-address">Billing address is the same as my Shipping address</label>
                                  </div>
                                  <hr class="mb-4">
                              </div>
                              <div class="col-md-6 order-md-1">
                                <h3 class="mb-3">Billing  address </h3><hr>
                          
                                  <div class="mb-3">
                                    <label for="address">Address1</label>
                                    <input type="text" class="form-control" id="bill_address1" name="billing_address_1" placeholder="" value="" required>
                                    
                                    <smlall class="smlcls my-2">{{ form.errors.billing_address_1 }}</smlall>
                                
                                  </div><br>
                          
                                  <div class="mb-3">
                                    <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                                    <input type="text" class="form-control" id="bill_address2" name="billing_address_2" placeholder="" value="">
                                    <smlall class="smlcls my-2">{{ form.errors.billing_address_2 }}</smlall>
                                  
                                  </div><br>
                          
                                  <div class="row">
                                    <div class="col-md-5 mb-3">
                                      <label for="zip">City</label>
                                    <!-- <input type="text" class="form-control" id="bill_country" name="billing_city" placeholder="" value=""  required> -->
                                   <span  id="bill_country">{{form.billing_city}}</span> 
                    
                                    <smlall class="smlcls my-2">{{ form.errors.billing_city }}</smlall>
                               
                                   
                                    </div>
                                    <div class="col-md-5 mb-3">
                                      <label for="zip">State</label>
                                      <!-- <input type="text" class="form-control" id="bill_state"  name="billing_state"  placeholder="" value="" required> -->
                                    {{form.billing_state}}
                                      
                                      <smlall class="smlcls my-2">{{ form.errors.billing_state }}</smlall>
                                      
                                    </div>
                                  
                                  </div><br>
                                  <div class="col-md-3 mb-3">
                                    <label for="zip">Zip</label>
                                    <input type="text" class="form-control" id="bill_zip"  name ="billing_zipcode" placeholder="" value=""  >
                                    <smlall class="smlcls my-2">{{ form.errors.billing_zipcode }}</smlall>
                               
                                  </div><br>
                                  </div>
                                  </div>
                                </div>
                            </div>
                            <h4 class="mb-3">Payment</h4>
                            {% for  method in payment_methods %}
                              <div class="d-block my-3">
                                <div class="custom-control custom-radio">
                                  <input id="{{method.name}}" name="payment_gateway" value="{{method.id}}" type="radio" class="custom-control-input" required>
                                  <label class="custom-control-label" for="{{method.name}}">{{method.name}}</label>
                                </div>
                              </div>
                              {% endfor %} 
                              <smlall class="smlcls my-2">{{ form.errors.payment_gateway }}</smlall>
                              
                                  
                                  <hr class="mb-4">
                                  <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
                              </div>
                            </div>
                          </form>
                    </div>                          
                </div>
            </div>
        </div>          
    </div> 
</section>

<script>
  
  function billingFunction(){
    
    if (document.getElementById('same-address').checked)
    {
      document.getElementById('bill_address1').value = document.getElementById('ship_address1').value;
      document.getElementById('bill_address2').value = document.getElementById('ship_address2').value;
      document.getElementById('bill_country').value = document.getElementById('ship_country').value;
      document.getElementById('bill_state').value = document.getElementById('ship_state').value;
      document.getElementById('bill_zip').value = document.getElementById('ship_zip').value;
    }
    else{
      document.getElementById('bill_address1').value = "";
      document.getElementById('bill_address2').value = "";
      document.getElementById('bill_country').value = "";
      document.getElementById('bill_state').value = "";
      document.getElementById('bill_zip').value= "";
   };
  } 

</script>



{% endblock %}

