{% extends "base/base.html"  %}
{% load static %}
{% load cart %}
{% block start %}
	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Shopping Cart</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description">Name</td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
					{% for product in products %}
                    
						<tr>
							{% for image in product.product.product_images.all %}

							<td class="cart_product">
								<a href=""><img src="/media/{{image.image}}" alt="" height="180" ></a>
							</td>
							{% endfor %}	
							<td class="cart_description">
								<h4><a href="">{{product.product.name}}</a></h4>
								<p>Web ID: 1089772</p>
							</td>
							<td class="cart_price">
								<p>Rs.{{product.product.price}}</p>
							</td>
							<td >
								<form action="{% url 'add_to_cart' product.product.id %}">{% csrf_token %}
									<input hidden type="text" name='product' value='{{product.product.id}}'>
									<button type="submit" class="btn btn-fefault cart">
										<i class="fa fa-shopping-cart"></i> 
										Add to cart
									</button>
								</form>
							</td>
							<td class="cart_total">
								<a href="{% url 'removewishlist' product.product.id  %} " class="btn btn-fefault "><button type="submit" class="btn btn-fefault cart"><i class="fa fa-shopping-cart"></i>Remove </button></a>
							</td>
							<!-- <td >
								<a href="{% url 'removewishlist' product.product.id  %} " class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i><button type="submit" class="btn btn-fefault cart"><i class="fa fa-shopping-cart"></i> Remove</button></a>

								
							</td> -->
						</tr>
                {% endfor %}						
					</tbody>
				</table>
			</div>
		</div>
	</section> 

	{% endblock %}