{% extends "base/base.html"  %}



{% load static %}

{% block start %}
<style>
.centered {
  position: absolute;
  top: 91%;
  left: 70%;
  transform: translate(-50%, -50%);
}
</style>
<section id="form"><!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-sm-offset-4">
                <div class="login-form"><!--login form-->
                    <h2>Change New Password</h2>
                    <form  method="post" class="form" novalidate>
                        {% csrf_token %}
                        {% if forms.non_field_errors %}
                            {% for error in forms.non_field_errors %}
                                <p style="color: red;">{{error}}</p>
                            {% endfor %}
                        {% endif %}

                        {% for fm in forms %}
                            {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
                        {% endfor %}
                            
                        <a href=""><button type="submit" class="btn btn-primary">Submit</button></a>
                    </form> 
                </div><!--/login form-->
            </div>
        </div>
</section>


{% endblock %}