{% extends "base/base.html"  %}



{% load static %}

{% block start %}

<style>
    .centered {
      position: absolute;
      top: 91%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    </style>
    <section id="form"><!--form-->
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-sm-offset-4">
                    <div class="login-form"><!--login form-->

                        <form  method="post" class="form" id="form" >
                            {% csrf_token %}
                            <h2>Reset Password</h2>
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-info">
                                        {{ message }}
                                    </div>
                                {% endfor %} 
                            {% endif %}
                            <div class="form-group">
                                <label for="password">Username :</label>
                                <input type="text" name="username" class="form-control" >
                            </div>
                            <a href="{% url 'reset' %}"><button type="submit" class="btn btn-primary">Send Confirmation Link </button></a>
                            
                        </form> 
                    </div><!--/login form-->
                </div>
            </div>
    
    </section>
    
    
    {% endblock %}