{% extends "base/base.html"  %}

{% load static %}

{% block start %}
<style>
.centered {
  position: absolute;
  top: 91%;
  left: 70%;
  transform: translate(-50%, -50%);
}
</style>
<section id="form"><!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="login-form"><!--login form-->
                    <h2>Contact US</h2>
                    <form action="" method="post" class="form" novalidate>
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                <p style="color: red;">{{error}}</p>
                            {% endfor %}
                        {% endif %}
                        {% for fm in form %}
                            {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} 
                        {% endfor %}
                        <a href=""><button type="submit" class="btn btn-primary">Submit</button></a>
                    </form> <br>
                    
                </div><!--/login form-->
            </div>
        </div>
       
</section>


{% endblock %}